.hero-lead {
  max-width: 100%;
}

.card h4 {
  font-size: 1rem;
  color: #000 !important;
}
.card h4 a {
  color: #2962ff;
}
.card h4 a:hover {
  color: #2962ff;
  border-bottom: none;
  text-decoration: underline;
}

.experience .exp-meta,
.experience .card-text,
.card-simple .article-style {
  font-size: 0.85rem !important;
}

.experience .card-text {
  padding-bottom: 0;
}
.experience .card-text ul {
  margin-top: 0;
  padding-left: 0;
}
.experience .card-body {
  padding-bottom: 0;
}

nav.navbar.navbar-light {
  background: #f7f7f7 !important;
}

nav.navbar button.navbar-toggler {
  display: none;
}

#talk_list h3 {
  margin-top: 0;
}

#talk_list {
  border-top: 1px solid rgba(0, 0, 0, 0.09);
  padding-top: 1rem;
}

#talks {
  padding: 1rem 0;
}

#experience {
  padding: 1rem 0 0 0;
}

#talks.home-section .see-all {
  margin: 1rem 0 0 0;
}

#talks.home-section .card-simple {
  padding: 0;
  border: none;
  box-shadow: none;
}

#talks.home-section .card-simple .article-style {
  margin: 2px 0 4px 0;
}

#talks.home-section .section-heading,
#experience.home-section .section-heading {
  display: none;
}

footer.site-footer {
  padding: 1rem 0;
  margin: 0;
}

footer.site-footer p {
  margin: 0;
}
