body {
  background: #FFF;
  background-color: #FFF;
}

.reveal pre code {
  max-height: 500px;
}

.reveal section img {
  background: none;
  border: none;
  box-shadow: none;
}

.reveal .menu-title {
  display: none;
}

.reveal h1,
.reveal h2 {
  display: inline-block;
  line-height: 1.1;
  margin-bottom: 0;
  padding: 0 0.2em;
}

.reveal .hiviz-dark h1,
.reveal .hiviz-dark h2 {
  background-color: rgba(50, 50 , 50, 0.8);
  color: #FFF;
}

.reveal .hiviz-light h1,
.reveal .hiviz-light h2 {
  background-color: rgba(255, 255 , 255, 0.8);
}
